<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>Tusk</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133668550-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133668550-2');
    </script>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="/stylesheets/master.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Didact+Gothic|Lobster|Staatliches|Montserrat:900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <script src="/javascript/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/javascript/moment-timer.js"></script>
    <script src="/javascript/socket.io.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <nav class="nav">
    <div class="dropdownBackground">
      <span class="arrow"></span>
    </div>
    

    <ul class="cool">
<div id="welcome_video">
    <!--<img src="pics/delete_account.png"-->
    <video playsinline autoplay muted loop>
        <source src="pics/wlcm.mp4" type="video/mp4">
    </video>
</div>
      <% if(!currentUser){ %>

      <li class="right_li">
        <a href="/register"><img src="/pics/sign_up.png"></a>
      </li> 
      <li class="right_li">
        <a href="/login"><img src="/pics/login.png"></a>
      </li>


      <% } else { %>


        <% if(notifications.length > 0 || message_notifications.length > 0 || interest_notifications.length > 0 || follow_notifications.length > 0){ %>
          <li class="trig right_li"> 

            <a><img src="/pics/full_inbox.png"></a>

            <ul class="dropdown notifications">
          <% notifications.forEach(function(notification) { %>
              <li>
                <a href="/notifications/<%= notification.id %>"><%= notification.username %> created a favor </a>
              </li>          
          <% }); %>

          <% message_notifications.forEach(function(message_notification) { %>
              <li>
                <a href="/message_notifications/<%= message_notification.id %>"><%= message_notification.username %> messaged you</a>
              </li>
          <% });%>

          <% interest_notifications.forEach(function(interest_notification) { %>
              <li>
                <a href="/interest_notifications/<%= interest_notification.id %>"><%= interest_notification.username %> showed an interest</a>
              </li>
          <% });%>

          <% let follow_array = []; %>
          <% follow_notifications.forEach(function(follow_notification) { %>
          <% if(!(follow_array.includes(follow_notification.username))){ %>
          <li>
          <a href="/follower_notifications/<%= follow_notification.id %>"><%= follow_notification.username %> followed you</a>
          </li>
          <% } else { %>
          <% } %>
          <% follow_array.push(follow_notification.username);%>
          <% });%>

            </ul>
          </li>

        <% } else { %>

          <li class="trig right_li">
            <a><img src="/pics/empty_inbox.png"></a>
            <ul class="dropdown notifications">
              <li>
                <span class="code">No new notifications</span>
                <a href="#"></a>
              </li>
              <li>
                <a href="/notifications">View past notifications</a>
              </li>          
            </ul>
          </li>

        <% } %>
            <li class="trig right_li">
            <% if(currentUser.gender == "M"){ %>
                <a href="/users/<%= currentUser.id %>/"><img src="/pics/user_male.png"></a>
              <% } else { %>
                <a href="/users/<%= currentUser.id %>/"><img src="/pics/user_female.png"></a>
              <% } %>
                <ul class="dropdown profile">
                  <li>
                    <a href="">Edit Profile</a>
                  </li>
                  <li>
                    <a href="">Posted Favors</a>
                  </li>
                </ul>
            </li>
        <% } %>
      <li class="right_li">  
        <a href="/favors"><img src="/pics/favors.png"></a>
      </li>

      <div id="home">
        <a href="/">
          Tusk
        </a>
      </div>

      <%if(currentUser){%>
        <li class="left_li">
          <a href="/logout"><img src="/pics/log_out.png"></a>
        </li>
        <li class="left_li">        
          <a href="/chat"><img src="/pics/support.png"></a>
        </li>
        <li class="left_li">
          <a href="/faq"><img src="/pics/faq.png"></a>
        </li>
      <% } else { %>
        <li class="left_li">
          <a href="/chat"><img src="/pics/support.png"></a>
        </li>
        <li class="left_li">
          <a href="/faq"><img src="/pics/faq.png"></a>
        </li>
        <li class="left_li">
          <a href="/faq"><img src="/pics/settings.png"></a>
        </li>       
      <% } %>
        </ul>
  </nav>  
  <% if(error && error.length > 0){ %>
    <div class="warning">
      <%= error %>
    </div> 
    <% } %>
  <% if(success && success.length > 0){ %>
  <div class="success">
    <%= success %>
  </div>
  <% } %> 
  <body>

