<% include ../partials/header %>
<div class="current_conversation">
  <h2>You and <a href="/users/<%= user.id %>"><%= user.username %></a></h2>
<% message.forEach(function(message){%>
  <% if(currentUser._id.equals(message.sender.id) && message.receiver.id.equals(user._id)) {%>
      <p>You : <%= message.text %><p>
  <%} %>
  <% if(currentUser._id.equals(message.receiver.id) && message.sender.id.equals(user._id)) {%>  
        <p><a href="/users/<%= message.sender.id %>"><%= message.sender.username %></a>: <%= message.text %> </p>
  <%}%>
<%});%>
<h1>Send a message to <%= user.username %></h1>
<a href="/">I changed my mind</a>
<form action="/users/<%= user._id %>/messages" method="post">
  <input type="text" name="message[text]"  placeholder="text">
  <button>Submit</button>
</form>

        <div class="container" style="margin-bottom:300px;">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                    <h1 class="text-center">MongoChat
                        <button id="clear" class="btn btn-danger">Clear</button>
                    </h1>
                    <div id="status"></div>
                        <div id="chat">
                            <input type="text" id="username" class="form-control" placeholder="Enter name:  ">
                            <div class="card">
                                <div id="messages" class="card-block">

                                </div>
                            </div>
                            <br>
                            <textarea id="textarea" class="form-control" placeholder="Enter message: "></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


    <script>
        (function(){
            var element = function(id){
                return document.getElementById(id);
            }
            // Get Elements
            var status = element('status');
            var messages = element('messages');
            var textarea = element('textarea');
            var username = element('username');
            var clearBtn = element('clear');

            // Set default status
            var statusDefault = status.textContent;

            var setStatus = function(s){
                // Set status
                status.textContent = s;

                if(s !== statusDefault){
                    var delay = setTimeout(function(){
                        setStatus(statusDefault);
                    }, 4000);
                }
            }

            // Connect to socket.io
            var socket = io.connect('http://127.0.0.1:3000');

            if(socket !== undefined){
                console.log('Connected to socket');
                socket.on('output', function(data){
                    // console.log(data);
                    if(data.length){
                        for(var x = 0;x < data.length; x++){
                            var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[x].sender + ": " + data[x].message;
                            if((data[x].sender === <%- JSON.stringify(currentUser.username)%>) && (data[x].receiver === <%- JSON.stringify(user.username)%>) ){
                                console.log("yo");
                                messages.appendChild(message);
                                messages.insertBefore(message, messages.firstChild);
                            }
                        }
                    }
                });

                // Get status from server
                socket.on('status', function(data){
                    // get message status
                    setStatus((typeof data === 'object') ? data.message : data);
                
                    // If status is clear, clear text
                    if(data.clear){
                        textarea.value = '';
                    }
                });

                // Handle Input 
                textarea.addEventListener('keydown', function(event){
                    if(event.which === 13 && event.shiftKey == false){
                        // emit to server input
                        socket.emit('input', {
                                sender: <%- JSON.stringify(currentUser.username)%>,
                                message: textarea.value,
                                receiver: <%- JSON.stringify(user.username)%>
                        });

                        event.preventDefault();
                    }   
                });

                clearBtn.addEventListener('click', function(){
                    socket.emit('clear');
                });

                socket.on('cleared', function(){
                    messages.textContent = '';
                });
            }

        })();
    </script>
<% include ../partials/footer %>
