<% include ../partials/header %>


<h1><%= currentUser.username%>'s MongoChat</h1>
<div id="status">
</div>
<div class="chat_container">
  <div class="chat_container_contacts" id="chat_container_contacts"></div>
  <div class="chat_container_window">
  <div class="chat_header">
    You are texting with <span id="content">anna_b</span>
  </div>
  <div id="messages">
  </div>
  <div>              
    <textarea id="textarea" class="chat_textarea" placeholder="Enter message: "></textarea>
  </div>
  </div>
</div>



<script>

////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////

// SOCKET.io

        (function(){
            var element = function(id){
                return document.getElementById(id);
            }
            // Get Elements
            var status = element('status');
            var messages = element('messages');
            var textarea = element('textarea');
            var username = element('username');
            var clearBtn = element('clear');
            var getM     = element('getM');
            var content  = element('content');

            // Set default status
            var statusDefault = status.textContent;

            var setStatus = function(s){
                // Set status
                status.textContent = s;

                if(s !== statusDefault){
                    var delay = setTimeout(function(){
                        setStatus(statusDefault);
                    }, 4000);
                }
            }

            // Connect to socket.io
            var socket = io();

            if(socket !== undefined){
                console.log('Connected to socket');
                socket.on('output', function(data){
                    console.log("Magic");
                    textarea.value = '';
                  data.forEach(function(data){

                    if((data.receiver === content.textContent && data.sender === <%- JSON.stringify(currentUser.username)%>) || (data.receiver === <%- JSON.stringify(currentUser.username)%> && data.sender === content.textContent)){
                      var message = document.createElement('div');
                      message.setAttribute('class', 'chat-message');
                      message.textContent = data.sender + ": " + data.message;
                      messages.appendChild(message);
                      messages.insertBefore(message, messages.firstChild);
                    }
                  })
                  var recipients = [];

                  data.forEach(function(penpal){
                    if(penpal.sender === <%- JSON.stringify(currentUser.username)%>){
                      recipients.push(penpal.receiver);
                    }
                    else if(penpal.receiver === <%- JSON.stringify(currentUser.username)%>){
                      recipients.push(penpal.sender);
                    }
                  });
                    var unique = recipients.filter((v, i, a) => a.indexOf(v) === i);
                    var contacts = document.getElementById('chat_container_contacts');
                    contacts.innerHTML= "";
                    for(var i = 0; i < unique.length; i++)
                    {
                      var message = document.createElement('div');
                      message.setAttribute('class', 'user_select');
                      message.textContent = unique[i];
                      contacts.appendChild(message);
                    }
                    $('.user_select').click(function(){
                      var a = $(this).text();
                      content.textContent = a;
                      getMail(a);
                    });

                    function getMail(a){
                        messages.innerText = "";
                      if(data.length){
                        for(var x = 0;x < data.length; x++){
                            var message = document.createElement('div');
                            message.setAttribute('class', 'chat-message');
                            message.textContent = data[x].sender + ": " + data[x].message;
                            if((data[x].sender === a && data[x].receiver === <%- JSON.stringify(currentUser.username)%> ) || (data[x].receiver === a && data[x].sender === <%- JSON.stringify(currentUser.username)%>)){
                                messages.appendChild(message);
                                messages.insertBefore(message, messages.firstChild);
                            }
                        }
                    }

                  }


                });

                // Get status from server
                socket.on('status', function(data){
                    // get message status
                    setStatus((typeof data === 'object') ? data.message : data);
                
                    // If status is clear, clear text
                    if(data.clear){
                        textarea.value = '';
                    }
                });

                // Handle Input 
                textarea.addEventListener('keydown', function(event){
                    if(event.which === 13 && event.shiftKey == false){
                        // emit to server input
                        socket.emit('input', {
                                sender: <%- JSON.stringify(currentUser.username)%>,
                                message: textarea.value,
                                receiver: content.textContent
                        });

                        event.preventDefault();
                    }   
                });

                // clearBtn.addEventListener('click', function(){
                //     socket.emit('clear');
                // });

                // socket.on('cleared', function(){
                //     messages.textContent = '';
                // });
            }

        })();
    </script>



<% include ../partials/footer %>
