<% include ../partials/header %>

<div class="messages_page">
  <div>
    <div id="status">
    </div>
    <div id="mobile_chat">
      <div class="chat_container">
      <div id="chat_left_side">
          <div id="chat_left_side_header">
            Contacts
          </div>
          <div id="search_div">
            <form class="chat_search_form" id="show_messages_form" action="/favors" method="get" autocomplete="off">
              <input type="search_all" id="input" id="chat_search_input" placeholder="Search for an user" class="chat_search_input"
                name="search">
              <ul class="suggestions" id="search_results">
                <!-- <li></li> -->
              </ul>
            </form>
          </div>

        <div class="chat_container_contacts" id="chat_container_contacts"></div>
      </div>
        <div class="chat_container_window">
          <div class="chat_header">
            Contact :  <span id="contentBox"> </span>
          </div>
          <div id="messages">
          </div>
          <div>
            <textarea id="textarea" class="chat_textarea" placeholder="Enter message: "></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
        
        
        <script>
        
        ////////////////////////////////////////////////////////////////////////////
        
        ////////////////////////////////////////////////////////////////////////////
        const day = [];
        

        // Get users from db and add to a list to use user_search on it

        <% allusers.forEach(function(user){ %>
            day.push(<%- JSON.stringify(user.username)%>);
        <% }); %>
        

      (function () {
        var element = function (id) {
            return document.getElementById(id);
          }
          // Get Elements
          var status = element('status'),
          messages = element('messages'),
          textarea = element('textarea'),
          username = element('username'),
          clearBtn = element('clear'),
          getM = element('getM'),
          contentBox = element('contentBox'),
          input = element('input'),
          chat_container = element('chat_container_contacts'),
          search_results = element('search_results');
          
          // Set default status
          var statusDefault = status.textContent;
          
          var setStatus = function (s) {
            // Set status
            status.textContent = s;
            
            if (s !== statusDefault) {
              var delay = setTimeout(function () {
                setStatus(statusDefault);
              }, 2000);
            }
          }
          
          ///////////////////////
          
          // Connect to socket.io
          
          ///////////////////////
          
          var socket = io();
          
          if (socket !== undefined) {
            
            // Get messages and all users from db            
            socket.on('user_output', function (data, contacts){
              // for(var i = 0; i < contacts.length; i++){
                //     if(contacts[i].username === <%- JSON.stringify(currentUser.username)%>){
                  //     var result = document.createElement('div');
                  //     var name = document.createElement('div');
                  //     name.textContent = "GB"
                  //     name.setAttribute('class', 'chat_contact_card')
                  //     result.setAttribute('class', 'user_select');
                  //     result.appendChild(name)
                  //     result.textContent = contacts[i].username;
                  //     chat_container.appendChild(result);}
                  // }
                  
                  
                  
                  var recipients = [];
              // Collecting the contacts
              data.forEach(function (penpal) {
                if (penpal.sender === <%- JSON.stringify(currentUser.username)%>) {
                  recipients.push(penpal.receiver);
                } else if (penpal.receiver === <%- JSON.stringify(currentUser.username)%>) {
                  recipients.push(penpal.sender);
                }
              });
              var unique = recipients.filter((v, i, a) => a.indexOf(v) === i);
              var contacts = document.getElementById('chat_container_contacts');

              // A list to hold all the user objects to extract info from
              friends_with_objects = []

              <% allusers.forEach(function(user){ %>
                if(unique.includes(<%- JSON.stringify(user.username)%>)){
                  friends_with_objects.push(<%- JSON.stringify(user)%>)
                }
                // day.push(<%- JSON.stringify(user.username)%>);
              <% }); %>
              // Populating the chat_container_contacts
              console.log(friends_with_objects)
              contacts.innerHTML = "";
              
              for (var i = 0; i < unique.length; i++) {
                
                var message_box = document.createElement('div')
                var message = document.createElement('div')
                var name = document.createElement('div')
                var message_box_right_section = document.createElement('div')
                var last_line = document.createElement('div')

                message_box_right_section.setAttribute('class', 'message_box_right_section')
                message_box.setAttribute('class', 'user_select_box')
                message.setAttribute('class', 'user_select')
                name.setAttribute('class', 'chat_contact_card')
                last_line.setAttribute('class', 'last_line')
                contacts.appendChild(message_box);
                
                message_box.appendChild(message_box_right_section)
                message.textContent = unique[i];
                message_box_right_section.appendChild(message)
                message_box_right_section.appendChild(last_line)
                name.textContent = 'GB'
                message_box.appendChild(name)
              }
              
              $('.user_select').click(function () {
                console.log(this)
                var a = $(this).text();
                contentBox.textContent = a;
                getMail(a, data);
              });
              
              textarea.value = '';
              data.forEach(function (data) {
                if ((data.receiver === contentBox.textContent && data.sender === <%- JSON.stringify(currentUser.username)%>) ||
                (data.receiver === <%- JSON.stringify(currentUser.username)%> && data.sender === contentBox.textContent)) {
              var message = document.createElement('div'); 
              message.setAttribute('class', 'chat-message');
              message.textContent = data.sender + ": " + data.message;
              messages.appendChild(message);
              messages.insertBefore(message, messages.firstChild);
            }
          });

            });



            socket.on('user_output_search', function (data) {
              
              for (var i = 0; i < data.length; i++) {
                // var result = document.createElement('div');
                // result.setAttribute('class', 'user_select');
                // day.push(data[i].username);
                // result.textContent = data[i].username;
                // search_results.appendChild(result);
                
              }
              
            });


            socket.on('output', function (data, contactss) {
              console.log(contactss,"sdfsdFSDf")
              // chat_container.innerHTML = "";
              //     for(var i = 0; i < contacts.length; i++){
              //     var result = document.createElement('div');
              //     result.setAttribute('class', 'user_select');
              //     result.textContent = contacts[i];
              //     chat_container.appendChild(result);
              // }
              
              textarea.value = '';
              data.forEach(function (data) {
                if ((data.receiver === contentBox.textContent && data.sender === <%- JSON.stringify(currentUser.username)%>) ||
                (data.receiver === <%- JSON.stringify(currentUser.username)%> && data.sender === contentBox.textContent)) {
                  var message = document.createElement('div'); 
                  message.setAttribute('class', 'chat-message');
                  message.textContent = data.sender + ": " + data.message;
                  messages.appendChild(message);
                  messages.insertBefore(message, messages.firstChild);
                }
              });

              contacts.innerHTML = "";
              for(var i = 0; i < contacts.length; i++){
                  if(contacts[i].username === <%- JSON.stringify(currentUser.username)%>){
                    var result = document.createElement('div');
                    result.setAttribute('class', 'user_select');
                    result.textContent = contacts[i].username;
                    chat_container.appendChild(result);}
                  }
                  // $('.user_select').click(function () {
                  //   console.log("over there")
                  //   var a = $(this).text();
                  //   contentBox.textContent = a;
                  //   getMail(a, data);
                  // });
                });

                
                // Get status from server
                socket.on('status', function (data) {
                  // get message status
              setStatus((typeof data === 'object') ? data.message : data);
              // If status is clear, clear text
              if (data.clear) {
                textarea.value = '';
              }
            });
            
            // Handle Input 
            textarea.addEventListener('keydown', function (event) {
              if (event.which === 13 && event.shiftKey == false) {
                // emit to server input
                <% allusers.forEach(function(dude){%>
                  if (<%-JSON.stringify(dude.username)%> === contentBox.textContent){
                    var a = <%-JSON.stringify(dude._id)%>
                  }
                <% }) %>
                socket.emit('input', {
                  sender: <%- JSON.stringify(currentUser.username)%>,
                  message: textarea.value,
                  receiver: contentBox.textContent,
                  sender_id: <%- JSON.stringify(currentUser._id)%>,
                  receiver_id: a
                });
                event.preventDefault();
              }
            });

            input.addEventListener('keydown', function (event) {
              if (event.which === 13 && event.shiftKey == false) {
                socket.emit('input_user_search', {
                  username: this.value
                })
                event.preventDefault();
              }
            })


            $( document ).ready(function() {
                socket.emit('get_contacts', { id: <%- JSON.stringify(currentUser.id)%>});
            });
            // clearBtn.addEventListener('click', function(){
            //     socket.emit('clear');
            // });
            // socket.on('cleared', function(){
            //     messages.textContent = '';
            // });
          }
        })();

        function getMail(a, data) {
          data = [];
          <% message.forEach(function(message){ %>
            data.push(<%- JSON.stringify(message)%>)
          <% }) %>
          messages.innerText = "";
          if (data.length) {
            for (var x = 0; x < data.length; x++) {
              var message = document.createElement('div');
              message.setAttribute('class', 'chat-message');
              message.textContent = data[x].sender + ": " + data[x].text;
              if ((data[x].sender === a && data[x].receiver === <%- JSON.stringify(currentUser.username)%>) || (data[x].receiver === a && data[x].sender === <%- JSON.stringify(currentUser.username)%>)) {
                messages.appendChild(message);
                messages.insertBefore(message, messages.firstChild);
              }
            }
          }
        }

        function findMatches(wordToMatch, day) {
          return day.filter(username => {
            // here we need to figure out if the city or state matches what was searched
            const regex = new RegExp(wordToMatch, 'gi');
            return username.match(regex);
          });
        }

        function displayMatches() {
          if($('input').val() != "") {
            const matchArray = findMatches(input.value, day);
            const html = matchArray.map(username => {
              const regex = new RegExp(this.value, 'gi');
              const cityName = username.replace(regex, `${this.value}`);
              return `
            <li>
              <div class="chat_result">${cityName}</div>
            </li>
          `;
            }).join('');
            console.log(html)
            suggestions.innerHTML = html;
          }
          

        }
        const searchInput = document.querySelector('.chat_search_input');
        const suggestions = document.querySelector('.suggestions');

        $('#search_results').on('click', 'li',function () {
          var a = $(this).text();
          var query = a.trim().toLowerCase();
          contentBox.textContent = query;
          getMail(query, day);
          search_results.innerHTML = "";
        });

        searchInput.addEventListener('click', displayMatches);
        searchInput.addEventListener('keyup', displayMatches);


        $('input').focusout(function(){
          $('body').click(function(){ 
            $('#search_results').empty()
          })
        })

        $('#chat_container_contacts').on('click','.user_select_box',function (e){
          let a = e.currentTarget.innerText.split('\n')
          contentBox.textContent = a[0]
          getMail(a[0], day)

        })
</script>



<% include ../partials/footer %>