  <div class="right-section">
    <div class="user_reviews">

      <% user.reviews.slice(0, 5).forEach(function(review){ %>
      <div class="row">
        <div class="review_left_section">
          <div class="stars">
            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
            <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
          </div>
          <div class="review_left_text">Review by: <strong><a href="/users/<%= review.author.id %>">
                <%= review.author.username %></a></strong></div>
          <div class="review_left_text"><span>
              <%= review.updatedAt.toDateString() %></span></div>
        </div>
        <div class="review_middle_section">
          <p>
            <%= review.text %>
          </p>
        </div>
      </div>
      <div class="review_left_section">
      </div>
      <% }); %>
    </div>
    <div id='map'></div>
    <div class="button_see_all">
      <h4><a href="/users/<%= user._id %>/reviews">See all reviews</a></h4>
    </div>
  </div>