<% include ../partials/header %>

<!-- If current is logged in -->
<% if(currentUser){%>

<!-- If current user doesn't own the profile page he is on-->
<% if(!(currentUser._id.equals(user._id))){ %>

<div class="blur_review"></div>
<div class="sibling_1">
  <div class="form_container">
    <form class="form_flex" action="/users/<%= user._id %>/reviews" method="POST">
      <span class="review_header">You are leaving a review for
        <%= user.name %></span>
      <div>
        <textarea class="text_area" name="review[text]" required></textarea>
      </div>
      <div id="form_flex_sub">
        <div>
          <fieldset class="starability-basic">
            <!-- <button class="clear-rating" type="button">Clear Rating</button> -->
            <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div>
          <input class="action-button" type="submit" value="SUBMIT">
        </div>
      </div>
    </form>
  </div>
</div>


<div class="sibling">
  <div class="form_container">
    <span class="review_header">You are editing a review for
      <%= user.name %></span>

    <% user.reviews.forEach(function(review) { %>
    <% if(review.author.id.equals(currentUser._id)){ %>

    <form class="form_flex_2" action="/users/<%= user._id %>/reviews/<%= review.id %>?_method=PUT" method="POST">
      <div>
        <textarea class="text_area" name="review[text]" required><%= review.text %></textarea>
      </div>
      <div id="form_flex_sub">
        <div>
          <fieldset class="starability-basic">
            <!-- <button class="clear-rating" type="button">Clear Rating</button> -->
            <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked
              aria-label="No rating." />
            <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
            <label for="edit-rate1" title="Terrible">1 star</label>
            <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
            <label for="edit-rate2" title="Not good">2 stars</label>
            <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
            <label for="edit-rate3" title="Average">3 stars</label>
            <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
            <label for="edit-rate4" title="Very good">4 stars</label>
            <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
            <label for="edit-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div>
          <input type="submit" class="action-button" value="Update">
    </form>
    <form id="delete-form" action="/users/<%=user._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
      <input type="submit" class="button" value="Delete">
    </form>
  </div>
</div>
<% } %>
<% }); %>
</div>
</div>

<% } %>
<!-- Background events -->
<div class="blur_favor"></div>
<div class="blur"></div>

<!-- Edit user modal -->
<div id="edit_modal">
  <form action="/users/<%= user._id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <label for="user[name]">Name</label><br>
      <input type="text" name="user[name]"  value="<%= user.name %>"><br>
    <label for="user[username]">Surname</label><br>
      <input type="text" name="user[surname]" value="<%= user.surname %>"><br>
    <label for="user[username]">Username</label><br>
      <input type="text" name="user[username]" value="<%= user.username %>"><br>
    <label for="user[username]">Location</label><br>
      <input type="text" name="user[city]" value="<%= user.city %>" placeholder="add a city where you live"><br>
    <label for="user[username]">Upload a new profile picture</label><br>
      <input type="file" id="image" name="image" accept="image/*">
    <button class="action-button">Submit</button>                                      
  </form>
</div>

<!-- New favor modal -->
<div class="favor_container">
  <div class="favor_container_">
    <div class="circle-loader">
      <div class="checkmark draw"></div>
    </div>

    <form id="favor_contact" action="/users/<%= user._id %>/favors" method="post" enctype="multipart/form-data">
      <h3 id="fav_h3">Quick Favor</h3>
      <fieldset>
        <input placeholder="Your Task" type="text" name="task" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Upload an image" type="file" id="image" name="image" accept="image/*">
      </fieldset>
      <fieldset>
        <input placeholder="Your Price" type="text" name="price" min="0.0" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Location" type="text" name="location" required>
      </fieldset>
        <textarea class="favor_textarea" rows="2" name="description" placeholder="Auto expanding text area"></textarea>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
    </div>
  </div>


<div id="delete_guard">
  <div class="delete-guard-info">
    <span>Deleting your user profile and its data is irreversible. Enter your username
(<%= user.username %>) below to confirm you want to permanently delete it: </span>
    <span id="non_valid_submit"></span>
  </div>
  <div class="delete-guard-input">
    <form id="submit_deletion" action="/users/<%= user._id %>?_method=DELETE" method="post">
      <div class="delete-guard-checkbox">
        <input type="checkbox"/><div class="delete-guard-checkbox-text">I wish to terminate my account</div>
      </div>
      <div class="delete-guard-input-input">
        <input type="text">
      </div>
      <div class="delete-guard-input-buttons">
        <input class="delete-guard-input-buttons-submit" type="submit" value="Delete">
        <div class="delete-guard-input-buttons-cancel">Cancel</div>
      </div>
    </form>
  </div>
</div>

<% if((currentUser._id.equals(user._id))){ %>

<div id="progress_bar">
  <div id="progress_bar_base"></div>
  <div id="progress_bar_25"><div id="percentage_amount">25%</div></div>
</div>
<% } %>
<div class='user_profile'>

  <% if((currentUser._id.equals(user._id))){ %>

  <div class='left-section'>
    <span id="ls_messages">
      <a href="/users/<%= user._id %>/messages">
        <img src="/pics/inbox.png">
      </a>
      <div id="ls_messages_info">Chat box</div>
    </span>

    <span id="add_new_favor">
      <!-- <a href="/users/<%= user._id %>/favors/new"> -->
        <img src="/pics/new_favor.png">
      <!-- </a> -->
      <div id="add_new_favor_info">Ask for a Favor</div>
    </span>

    <span id="add_interest">
      <a href="/users/<%= user._id %>/favors">
        <img src="/pics/favors.png">
      </a>
    </span>

    <a id="edit_user">
      <img src="/pics/edit.png">
    </a>

    <a href="#" id="delete_user">
        <img src="/pics/delete_account.png">
    </a>

  </div>
  <% } %>


  <div class='middle-section'>


    <section class="bio">

      <div class="profile-photo">

        <div class='profile_img'>
          <img src="<%= user.image %>" alt="prem" />
        </div>

      </div>

      <div class="details">
        <div class="tiny-details">
          <span id="profile_name">
            <%= user.name %>
            <%= user.surname %>
            </span>
            
            <span>
            <span id="name_username">
            <% if(!(user.isVerified)){ %>
              <img id="verified" src="/pics/ok.png">
            <% } %>
              <%= user.status %></span><span class="hint_parent"><i class="fas fa-info-circle hint" /></i>
              <div class="hint_span">This user has not uploaded any certifications</div>
            </span>
          </span>

          <div class="location">
            <h6>
              <%= user.city %>
            </h6>
          </div>

        </div>

        <% if(!(currentUser._id.equals(user._id))){ %>

        <div class="social-links">


          <div class="social-icons">
            <% var useree_reviews=[]%>
            
            <%console.log("GELO",useree_reviews)%>
            
            <% review.forEach(function(review){ %>
            <% if(review.user.equals(user._id)){%>
            <% useree_reviews.push(review.author.username);%>
            <%} %>
            <% }); %>

            <% if(useree_reviews.includes(currentUser.username)){ %>
            <a id="toggle-edit-form">
              <img src="/pics/review.png">
            </a>
            <%} %>




            <% var user_reviews=["2"];%>
            <% review.forEach(function(review){ %>
            <% if(review.user.equals(user._id)){%>
            <% user_reviews.push(review.author.username)%>
            <% } %>
            <% }); %>

            <% if(user_reviews.includes(currentUser.username)){ %>
            <% } else { %>
            <a id="leave_review">
              <img src="/pics/review.png">
            </a>
            <% } %>
          </div>
          <div class="social-icons">
            <a href="http://instagram.com/<%= user.instagram %>">
              <img src="/pics/insta.png">
            </a>
          </div>

          <div class="social-icons">
            <a href="http://twitter.com/<%= user.twitter %>">
              <img src="/pics/twitter.png">
            </a>
          </div>

          <div class="social-icons">
            <a href="http://<%= user.facebook %>">
              <img src="/pics/fb.png">
            </a>
          </div>
          
        </div>

        <% } %>

        <div class="follow-details">

          <div class="shots">
            <p>
              <a href="#">Favors<span class="count"><br />
                  <%= user.posted_favors.length%></span></a>
            </p>
          </div>

          <div class="Followers">
            <p>
              <a href="#">Followers<span class="count"><br />
                  <%= user.followers.length%></span>
              </a>
            </p>
          </div>

        </div>

        <div class="description">
          <% if (user.rating === 0) { %>
          <span id="no_reviews">No reviews yet.<span>
              <% } else { %>
              <p>Current user rating: <strong>
                  <%= user.rating.toFixed(2) %></strong></p>
              <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                <em>(total reviews:
                  <%= user.reviews.length %>)</em>
              </p>
              <% } %>
        </div>
    </section>

    <% if(!(currentUser._id.equals(user._id))){ %>

    <% var fools = []; %>
    <div class="connect-me">
      <% user.followers.forEach(function(follower){ %>
      <% fools.push(follower.username)%>
      <% if(follower.username == currentUser.username){ %>
      <div class="follow-me">
        <a href="/unfollow/<%= user._id %>">
          Unfollow Me
        </a>
      </div>
      <% } %>
      <% }); %>

      <% if (!(fools.includes(currentUser.username))){%>
      <div class="follow-me">
        <a href="/follow/<%= user._id %>">
          Follow Me
        </a>
      </div>
      <% } %>
      <div class="hire-me">
        <p>
          <form action="/users/<%= user._id %>/conversation/..." method="get">
            <button class="btn-link">Message</button>
          </form>
        </p>
      </div>

    </div>
    <% } %>

  </div>


  <div class="right-section">
    <div class="user_reviews">

      <% user.reviews.slice(0, 5).forEach(function(review){ %>
      <div class="row">
        <div class="review_left_section">
          <div class="stars">
            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
            <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
          </div>
          <div class="review_left_text">Review by: <strong><a href="/users/<%= review.author.id %>">
                <%= review.author.username %></a></strong></div>
          <div class="review_left_text"><span>
              <%= review.updatedAt.toDateString() %></span></div>
        </div>
        <div class="review_middle_section">
          <p>
            <%= review.text %>
          </p>
        </div>
      </div>
      <div class="review_left_section">
      </div>
      <% }); %>
    </div>
    <div id='map'></div>
    <div class="button_see_all">
      <h4><a href="/users/<%= user._id %>/reviews">See all reviews</a></h4>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>


<script>
let yoyo;
$("#contact-submit").click(function(evt) {
    // $("#favor_contact").html("");
    evt.preventDefault();
    var ajax = new XMLHttpRequest();
    var myform = document.getElementById("favor_contact");
    var fd = new FormData(myform);
    
    $.ajax({
        url: "/users/<%= user._id %>/favors",
        data: fd,
        cache: false,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (dataofconfirm) {
          $("#favor_contact").hide();
          $('.circle-loader').show();
          setTimeout(() => {
            $('.circle-loader').toggleClass('load-complete');
            $('.checkmark').toggle();
          }, 2000);
        }
    });
  }
)



$('body').ready(function() {
  var elem = document.getElementById("progress_bar_25");   
  var width = 0;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 25) {
      clearInterval(id);
    } else {
      width+=.5; 
      elem.style.width = width + '%'; 
    }
  }
});

  $("#leave_review").click(function(event){
    $(".sibling_1").fadeIn(2)
    $(".blur_review").fadeIn(200)
    even.stopPropagation()
  })

  $("#toggle-edit-form").click(function(event){
    $(".sibling").fadeIn(2)
    $(".blur_review").fadeIn(200)
    even.stopPropagation()
  })

  $("#delete_user").click(function(event){
    $("#delete_guard").css({"opacity":"1","z-index":"10"})
    $(".blur").fadeIn()
    event.stopPropagation()  
  })

  $("#add_new_favor").click(function(event) {
    $(".favor_container").fadeIn()
    $(".blur").fadeIn()
    event.stopPropagation()
  })

  $('.blur').click(function(event){
    var current_height = $('.blur').outerHeight();
    var current_width = $('.blur').outerWidth();

    $(".blur").css("min-height", current_height);
    $(".blur").css("min-width", '20000px');

    $("#delete_guard").css({"opacity":"0","z-index":"-10"})
    $(".blur").fadeOut()
    $("#edit_modal").fadeOut()
    $(".favor_container").fadeOut()
    event.stopPropagation()
  });

  $('.blur_review').click(function(event){
    var current_height = $('.blur_review').outerHeight();
    var current_width = $('.blur_review').outerWidth();

    $(".blur_review").css("min-height", current_height);
    $(".blur_review").css("min-width", '20000px');

    $(".sibling_1").fadeOut()
    $(".sibling").fadeOut()
    $(".blur_review").fadeOut()
    event.stopPropagation()
  });

  $('.delete-guard-input-buttons-cancel').click(function(){
    $("#delete_guard").css({"opacity":"0","z-index":"-10"})
    $(".blur").fadeOut()

  })

  $("#edit_user").click(function(event) {
    $("#edit_modal").fadeIn(2)
    $(".blur").fadeIn(400)
    event.stopPropagation()
  })
  


  $("#submit_deletion").submit(function(event){
    if ( $( "input:first" ).val() === <%- JSON.stringify(currentUser.username) %> ) {
      $( "span" ).text( "Validated..." ).show();
      return;
    }
    console.log(<%- JSON.stringify(currentUser.username) %>);
    $( "#non_valid_submit" ).text( "Not valid!" ).show().fadeOut( 4000 );
    event.preventDefault();
  });

  var user = <%- JSON.stringify(user) %>;
  mapboxgl.accessToken = 'pk.eyJ1IjoiZHVnaXdhcmMiLCJhIjoiY2pydDdmdjFtMGZlNjRhdGNreWQ1aW5mZSJ9.IJrnij1QFJbk2r_618xlUg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/dugiwarc/cjrtac8pe410f2so52fsbumkh',
    center: user.coordinates,
    zoom: 12
  });

  var el = document.createElement('div');
  el.className = 'marker';

  new mapboxgl.Marker(el)
    .setLngLat(user.coordinates)
    .setPopup(new mapboxgl.Popup({offset: 25})
    .setHTML('<h3>' + user.username + '</h3></p>' + user.location + '</p>'))
    .addTo(map);

</script>

<% } else { %>
  <div class="success">
    You need to log in to view this page
  </div>
<% } %>

<% include ../partials/footer %>
