<% include ../partials/header %>

<% if(currentUser){%>
<div class='user_profile'>

  <% if((currentUser._id.equals(user._id))){ %>

    <div class='left-section'>

      <a href="/users/<%= user._id %>/messages">
        <img src="/pics/inbox.png">
      </a>

      <a href="/users/<%= user._id %>/favors/new">
        <img src="/pics/new_favor.png">    
      </a>

      <a href="/users/<%= user._id %>/favors">
        <img src="/pics/favors.png">
      </a>

      <a href="/users/<%= user._id %>/edit">
        <img src="/pics/edit.png">
      </a>

      <form action="/users/<%= user._id %>?_method=DELETE" method="post">
        <button class="btn-link"> 
          <img src="/pics/delete_account.png">
        </button>
      </form>

    </div>
  <% } %>



  <div class='middle-section'>

    <div class="main-container">
  
      <section class="bio">
    
        <div class="profile-photo">
        
          <div class='profile_img'> 
            <img src="<%= user.image %>"  alt="prem" />
          </div>
      
        </div>

        <div class="details">
          <div class="tiny-details">
            <h4><%= user.name %> <%= user.surname %></h4>
            <h5>Software Developer</h5>

            <div class="location">
              <h6><%= user.city %></h6>
            </div>

          </div>

      <% if(!(currentUser._id.equals(user._id))){ %>

          <div class="social-links">

            <div class="social-icons">
              <a href="/follow/<%= user._id %>">
                <img src="/pics/bookmark.png">
              </a>
            </div>

            <div class="social-icons">
              <a href="/users/<%= user._id %>/reviews/new">
                <img src="/pics/review.png">
              </a>
            </div>

            <div class="social-icons">
              <a href="/users/<%= user._id %>/messages/new">
                <img src="/pics/new_message.png">
              </a>
            </div>

          </div>

      <% } %>

      <div class="follow-details">

        <div class="shots">
          <p>
            <a href="#">Favors<span class="count"><br/><%= user.posted_favors.length%></span></a>
          </p>
        </div>
  
        <div class="Followers">
          <p>
            <a href="#">Followers<span class="count"><br/><%= user.followers.length%></span>
            </a>
          </p>
        </div>

        <div class="Following">
          <p>
            <a href="#">Interests<span class="count"><br/><%= user.interests.length%></span>
            </a>
          </p>
        </div>

      </div>

      <div class="description">
        <% if (user.rating === 0) { %>
          <h5>
            <em>No reviews yet.</em>
          </h5>
        <% } else { %>
        <p>Current user rating: <strong><%= user.rating.toFixed(2) %></strong></p>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
            <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
            <em>(total reviews: <%= user.reviews.length %>)</em>
          </p>
      </div>

    </div>
</section>


  <% if(!(currentUser._id.equals(user._id))){ %>
    
    <div class="connect-me">

      <div class="follow-me">
        <a href="/follow/<%= user._id %>">
          Follow Me
        </a>
      </div>

      <div class="hire-me">
        <p>
          <form action="/users/<%= user._id %>/conversation/..." method="get">
            <button class="btn-link">Message</button>
          </form>
        </p>
      </div>

    </div>
  <% } %>


</div>
</div>
  <div class="right-section">
  <div class="user_reviews">
      <% user.reviews.slice(0, 5).forEach(function(review){ %>
      <div class="row">
      <div class="review_left_section">
          <div class="stars">
        <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
    </div>
    <div class="review_left_text">Review by: <strong><%= review.author.username %></strong></div>
    <div class="review_left_text"><span><em><%= review.updatedAt.toDateString() %></em></span></div>
    </div>
    <div class="review_middle_section">
          <p>
              <%= review.text %>
          </p>
      </div>
  </div>               
      <div class="review_left_section">
  <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
  <a href="/users/<%=user._id %>/reviews/<%=review._id %>/edit" class="button">Edit</a>
  <form id="delete-form" action="/users/<%=user._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
      <input type="submit" class="button" value="Delete">
  </form>
  <% } %>
      </div>
  <% }); %>
  </div>
  <div id='map'></div>
  <div class="button_see_all">
      <h4><a href="/users/<%= user._id %>/reviews">See all reviews</a></h4>
  </div>
  <% } %>
          </div>
          </div>
    </div>
</div>
  </div>



<script>

  var user = <%- JSON.stringify(user) %>;
  mapboxgl.accessToken = 'pk.eyJ1IjoiZHVnaXdhcmMiLCJhIjoiY2pydDdmdjFtMGZlNjRhdGNreWQ1aW5mZSJ9.IJrnij1QFJbk2r_618xlUg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/dugiwarc/cjrtac8pe410f2so52fsbumkh',
    center: user.coordinates,
    zoom: 12
  });

  var el = document.createElement('div');
  el.className = 'marker';

  new mapboxgl.Marker(el)
    .setLngLat(user.coordinates)
    .setPopup(new mapboxgl.Popup({offset: 25})
    .setHTML('<h3>' + user.username + '</h3></p>' + user.location + '</p>'))
    .addTo(map);

</script>
<% } else { %>
  <div class="success">
    You need to log in to view this page
  </div>
<% } %>
</body>
</html>

<% include ../partials/footer %>
