<% include ../partials/header %>

		<div class="search_bar">
            <form class="search-form" action="/favors" method="get" autocomplete="off">
              <input type="text" placeholder="e.g. parfumers in Paris" class="search-input" name="search">
            </form>
            </div>
            <% if(!(users)){%>
            <div id="noMatch">
              <%=noMatch%>
            </div>
            <%}%>
<div class="motherOfUsers">
<% users.forEach(function(user){ %>
<div class="userBox">
  <div class="userBox-image">
    <img src="<%= user.image %>" height="80%" alt="userProfile">
  </div>
  <div class="userBox-info">
  <div class="userBox-info-name">
    <a href="/users/<%= user._id %>"><%= user.name %> <%= user.surname %></a>
  </div>
  <div class="userBox-info-status">
    <%= user.status%>
  </div>
    <div class="userBox-info-city">
    <%= user.city%>
  </div>

  </div>
</div>
<% }); %>
</div>

<% include ../partials/footer %>
